.container {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  height: 100vh;
}

.box {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 1000px;
  height: 50%;
}

.title h2 {
  text-align: center;
  font-size: 40px;
  color: #333;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

#input-box {
  width: 75%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 40px;
  font-size: 20px;
}

button {
    width: 150px;
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

button:hover {
  background-color: #218838;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}


li.checked {
  text-decoration: line-through;
  color: #888;
}

.task-btn {
  cursor: pointer;
  margin-left: 10px;
  padding: 5px;
  font-size: 16px;
  border: none;
}

.delete-btn {
  color: red;
  font-weight: bold;
}

.edit-btn {
  color: blue;
}

.done-btn {
  color: green;
}

.scroll {
  max-height: 300px;
  overflow-y: auto;
}
